html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.one {
    z-index: 30;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: wait;
}

.pokemon-select {
    z-index: 2;
}

.new-pokemon-contents {
    margin-bottom: 30px;
}

.value-preset-button {
    margin-right: 5px;
}

.logo {
    margin-right: 15px;
}

.left_right {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.left {
    margin-left: auto;
    margin-right: 0;
}

.right {
    float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boxItem {
    height: 300px;
}

.boxContainer {
    display: flex;
}

.mainPage {
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.setting-section-header {
    margin: 5px;
}

.setting-section {
    margin-bottom: 20px;
    height: 300px;
    transition: 0.3s;
    box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.3);
}

.setting-section-contents {
    margin-right: 10px;
    margin-left: 10px;
}

.setting-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}

.footer {
    color: #ebf6f7;
    background: #a9ceec;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
