html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #eaeaea;
}

.one {
    z-index: 30;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.logo-image {
    width: 100%;
    height: 20vw;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: wait;
}

.pokemon-select {
    z-index: 6 !important;
}

.good-select {
    z-index: 4 !important;
}

.type-select {
    z-index: 2 !important;
}

.under-elements {
    z-index: -1;
}

.new-pokemon-contents {
    margin-bottom: 30px !important;
}

.value-preset-button {
    margin-right: 5px !important;
}

.logo {
    margin-right: 15px !important;
}

.left_right {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.left {
    margin-left: auto;
    margin-right: 0;
}

.right {
    float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boxItem {
    height: 350px !important;
    border-radius: 15px !important;
    margin: 10px !important;
}

.info-card {
    height: 400px !important;
    border-radius: 15px !important;
    margin: 10px !important;
}

.boxContainer {
    display: flex !important;
}

.mainPage {
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.headline {
    margin: 20px !important;
}

.head-button {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.table-container {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
}

.setting-section-header {
    margin: 15px !important;
}

.setting-section {
    margin-bottom: 20px !important;
    height: 300px !important;
    transition: 0.3s !important;
    box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px !important;
}

.setting-section-contents {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.setting-container {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 120% !important;
}

.dialog-new-pokemon {
    max-width: 100% !important;
}

.move-list {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}

.move-select {

}

.footer-space {
    height: 30px !important;
}

.footer {
    color: #ebf6f7;
    background: #a9ceec;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 640px) {
    .pokemon-table {
        width: 100%;
    }

    .pokemon-table-head-item {
        display: none !important;
    }

    .pokemon-table-body-item {
        display: block !important;
        width: 100%;
        height: 8vh;
        border-bottom: none !important;
    }

    .pokemon-table-body-item-move {
        display: block !important;
        width: 100%;
        height: 20vh;
        border-bottom: none !important;
    }

    .pokemon-table-body-item:before, .pokemon-table-body-item-move:before {
        content: attr(data-label);
        font-size: .5rem;
        font-weight:bold;
        color: #999;
        display: block;
      }

    .pokemon-tag-button {
        width: 50% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }

    .pokemon-table TableRow:last-child {
        border-bottom: solid 1px #ccc !important;
    }
}